<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <title>{% block title %}Maarten van der Heijden's portfolio{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Maarten van der Heijden">
        <meta name="keywords" content="Maarten van der Heijden, software development, software, web, webdevelopment, web development, php, javascript, docker, ansible">
        <meta property="og:title" content="Maarten van der Heijden">
        <meta property="og:site_name" content="Maarten van der Heijden">
        <meta property="og:image" content="">
        <meta property="og:type" content="website">
        <meta property="og:author" content="Maarten van der Heijden">
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />
        <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
    </head>
    <body>
    {% block body %}
        <div class="fh5co-loader"></div>
        {% include '@App/shared/nav.html.twig' %}
        {% include '@App/shared/header.html.twig' %}

        <div id="page">
            {% block content %}{% endblock %}
        </div>
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
        </div>

        {% block javascripts %}
            <script src="js/modernizr-2.6.2.min.js"></script>

            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    {% endblock %}
    </body>
</html>