<nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo">
                        <a href="{{ path('main.index') }}">Maarten<span>.dev</span></a>
                    </div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active">
                            <a href="{{ path('main.index') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ path('projects.index') }}">Portfolio</a>
                        </li>
                        <li>
                            <a href="{{ path('about.index') }}">About me</a>
                        </li>
                        <li>
                            <a href="{{ path('contact.index') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>
