{% block metadata %}
    <title>{% block title %}{{ layout.title }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="The personal software development portfolio of Maarten van der Heijden. On this website you can find several contact links and a list of github projects.">
    <meta name="keywords" content="{{ site.author }}, Maarten, software development, software, web, webdevelopment, web development, php, javascript, docker, ansible">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:title" content="{{ site.name }}">
    <meta property="og:description" content="The personal software development portfolio of Maarten van der Heijden. On this website you can find several contact links and a list of github projects.">
    <meta property="og:type" content="website">
    <meta property="og:author" content="{{ site.author }}">
    <meta property="og:url" content="https://maarten.dev/">
    <meta property="og:image" content="https://maarten.dev/img/thumbnail.png">
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1759" />
    <meta property="og:image:height" content="856" />
    <meta property="og:image:alt" content="A screenshot of the homepage" />

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#001238">
    <meta name="theme-color" content="#001238">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}